.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline-item {
    margin-bottom: 20px;
    position: relative;
}

.timeline-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
}

.timeline-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 15px;
}

.timeline-item-body {
    padding-left: 15px;
    border-left: 2px solid #007bff;
}

.timeline-item.item-green:before {
    background-color: #28a745;
}
.timeline-item.item-green .timeline-item-body{
    border-left-color: #28a745;
}

.timeline-item.item-red:before {
    background-color: #dc3545;
}
.timeline-item.item-red .timeline-item-body{
    border-left-color: #dc3545;
}

.timeline-item.item-blue:before {
    background-color: #007bff;
}
.timeline-item.item-blue .timeline-item-body{
    border-left-color: #007bff;
}

.timeline-item.item-yellow:before {
    background-color: #ffc107;
}
.timeline-item.item-yellow .timeline-item-body{
    border-left-color: #ffc107;
}

.timeline-item.item-purple:before {
    background-color: #6f42c1;
}
.timeline-item.item-purple .timeline-item-body{
    border-left-color: #6f42c1;
}